#renthome{
    background: #fff;
}
.renthome_wrapper{
    width: 100%;
    position: relative;
}
.renthome_wrapper_head_box{
    padding: 20px 0;
    text-align: left;
}
.renthome_wrapper_head{
    font-size: 38px;
    font-weight: 600;
    color: #000;
    text-transform: capitalize;
    line-height: 150%;
}
.renthome_wrapper_sort{
    font-size: 18px;
    font-weight: 400;
    color: #000;
}
.renthome_wrapper_listing{
    font-size: 18px;
    font-weight: 400;
    color: rgb(74, 145, 74);
    cursor: pointer;
    padding-left: 8px;
}
.renthome_wrapper_flex{
    display: flex;
    justify-content: space-between;
    column-gap: 80px;

}
.renthome_image_wrapper_flex{
    width: 800px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 40px;
}
.renthome_image_wrapper_box{
    width: 380px;
    background: #fff;
    cursor: pointer;
    border-radius: 10px;
}
.renthome_image_box{
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
}
.renthome_image_box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.renthome_image_details_box{
    margin: 20px;
}
.renthome_image_details_box_head{
    font-size: 28px;
    font-weight: 600;
    color: #000;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.renthome_image_details_box_details{
    font-size: 16px;
    font-weight: 500;
    color: #000000ab;
    margin-bottom: 10px;
}
.renthome_image_details_box_mls{
    font-size: 12px;
    font-weight: 400;
    color: #00000083;
}
.renthome_map_box{
    width: 400px;
    height: 100vh;
    border-radius: 10px;
    position: absolute;
    z-index: 444;
    right: 0;
    top: 0;
}
.renthome_map_box iframe{
    width: 100%;
    height: 100%;
    object-fit: cover;
}