#footerhead{
    background: #fff;
    margin: 50px 0;
}
.footerhead_contant{
    text-align: center;
}
.footerhead_heading{
    font-size: 32px;
    font-weight: 600;
    color: #000;
    line-height: 150%;
    margin-bottom: 30px;
}
.footer_search{
    width: 800px;
    font-size: 18px;
    font-weight: 600;
    padding: 20px 60px 20px 20px;
    border-radius: 10px;
    border: none;
    background:#eeeaea63;
    color: #131010;
    outline: none;
}
