#mortgagebanar{
    width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
#mortgagebanar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mortgagebanar_wrapper{
    width: 800px;
    margin: 0 auto;
    position: absolute;
    left: 50% ;
    top: 50%;
    transform: translate(-50% , -50%);
}
.mortgagebanar_head_box{
    margin-bottom: 20px;
}
.mortgagebanar_headinmg{
    font-size: 52px;
    font-weight: 600;
    color:#fff;
    text-transform: capitalize;
    line-height: 150%;
    margin-bottom: 10px;
}
.mortgagebanar_pera{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
    line-height: 150%;
}
.mortgagebanar_input_box{
    width: 600px;
    position: relative;
}
.mortgagebanar_input{
    padding: 18px 24px;
    width: 100%;
    background: transparent;
    border: 1px solid rgba(189, 170, 170, 0.479);
    outline: none;
    border-radius: 10px;
    font-size: 22px;
    color: #fff;
}
.mortgagebanar_input_btn{
    position: absolute;
    right: 0;
    top: 0;
    padding:18px 24px ;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    border: none;
    background: rgb(122, 7, 7);
    cursor: pointer;
}
.mortgagebanar_input_btn:hover{
    color: rgb(105, 11, 11);
    border:1px solid rgb(116, 11, 11);
    background: #fff;
}
